$primary_brand: #09317a;
$primary_button: #09317a;
$secondary_brand: #5bcebf;

$theme-colors: (
  primary: #002d7b,
  secondary: #5bcebf,
  tertiary: #15959F,
  background: #F0F4FA,
  warning: #F2E3D5,
  error: #F25C5C,
  primary_brand: $primary_brand,
  secondary_brand: $secondary_brand,
  primary_button: #09317a,
  secandry_button: #00cdbe,
  bars_color: #00aef1
);

$border-color: #ebeef5;
$border-color-active: #ebeef5;